<!-- app/templates/home/index.html -->


{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">

                    <h1>CrytpoTracker</h1>
                    <h3>In Development!</h3>
                    <hr class="intro-divider">
		      <div class="column">
			<div class="column"></div>

			{% if current_user.is_authenticated %}
			<a href="{{ url_for('home.dashboard') }}" class="button-top"> Dashboard</a>
		      </div>
		      <div class="column"></div>
		      <div class="column"></div>
		      <div class="column"></div>
		      <div class="column">
			<a href="{{ url_for('auth.logout') }}" class="button-top"> Logout</a>

			{% else %}
			<a href="{{ url_for('auth.login') }}" class="button-top"> Login</a>
                      </div>
                      <div class="column"></div>
                      <div class="column"></div>
		      <div class="column"></div>
                      <div class="column">
                        <a href="{{ url_for('auth.register') }}" class="button-top"> Register</a>
		    {% endif %}
		      
		      </div>
                    </ul>
                </div>
             </div>
        </div>
    </div>
</div>

<section class="section">
  <div class="container-info">

    <div class="column-is-vcentered">
      <div class="column-text-left">
	<h2 class="header-info">Access to the World</h2>
	<p class="para-info">
          With an estimated 2.46 billion users worldwide, social media provides an unprecedented opportunity to gauge global consumer sentiment. It is our ambition to harness this untapped data and extract insight into the cryptocurrency market. 
	  </p>
	</div>
	<img src="../../static/img/socialmedia1.png" class='info-image' alt='' />
      </div>

    <div class="column-is-vcentered">
      <div class="column-text-left">
	  <img src="../../static/img/cryptocurrencies.png" class='info-image' alt='' />
      </div>
      <div class="column-text-left">
        <h2 class="header-info">Volatile Markets</h2>
        <p class="para-info">
The cryptocurrency world is volatile and unregulated. Frequently coins experience significant percentage swings caused by breaking news or rumours that gather momentum across the social media network. 
        </p>
      </div>
    </div>

    <div class="column-is-vcentered">
      <div class="column-text-left">
        <h2 class="header-info">Real Time Analytics</h2>
        <p class="para-info">
          By analyzing thousands of posts and tweets everyday using natural language processing and machine learning algorithms we will be able to provide users with the ability to identify significant changes in mood as they sweep across the market.  
          </p>
        </div>
        <img src="../../static/img/analytics.png" class='info-image' alt='' />
      </div>

    <div class="column-is-vcentered">
      <div class="column-text-left">
          <img src="../../static/img/cryptotrackerlogo.png" class='info-image' alt='' />
      </div>
      <div class="column-text-left">
        <h2 class="header-info">The Project</h2>
        <p class="para-info">
The CryptoTracker dashboard will give users access a variety of data relevant to their portfolio. Currently the analytics software is underdevlopment and we hope to have it live soon. If the project interests you and you'd like to help get off the ground please donate. 
        </p>
      </div>
    </div>

  </div>
</section>

<section class="buttons-section">
  <div class="container-buttons">
    <h1 class="header-info-bottom">Ready to transform your portfolio and support the project?</h1>
    <div class="column-bottom-buttons">
      <div class="column">

       {% if current_user.is_authenticated %}
       <a href="{{ url_for('home.homepage') }}" class="button-bottom"> Donate</a>
       </div>
       <div class="column"></div>
       <div class="column"></div>
       <div class="column">
       <a href="{{ url_for('auth.logout') }}" class="button-bottom"> Logout</a>

       {% else %}
       <a href="{{ url_for('auth.register') }}" class="button-bottom"> Register</a>
       </div>
       <div class="column"></div>
       <div class="column"></div>
       <div class="column">
       <a href="{{ url_for('home.homepage') }}" class="button-bottom"> Donate</a>
       {% endif %}

      </div>
      <div class="column"></div>
    </div> 
  </div>
</section>

{% endblock %}
