<!-- app/templates/home/index.html -->


{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>CrytpoTracker</h1>
                    <h3>In Development!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
             </div>
        </div>
    </div>
</div>
<section class="info-section">
  <div class="container">
    <div class="columns-text-center">
      <div class="columns-text-left">
	<h2 class="header-info">Real Time Analysis</h2>
	<p class="para-info">
	  Sia splits apart, encrypts, and distributes your files across a decentralized network. Since you hold the keys, you own your data. No outside company can access or control your files, unlike traditional cloud storage providers.
	  </p>
	</div>
      <div class="columns-is-vcentered">
	<img src="../../static/img/bitcoinprice.png" class='info-image' alt='' />
	</div>
      </div>
    </div>
</section>

{% endblock %}
