<!-- app/templates/blog/blog.html -->

{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Blog Page</h1>
                    <h3>Coming soon</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




