
/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #3c3f56;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #3c3f56;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #3c3f56;
    background-color: #e6ecca;
    border-color: #3c3f56;
}

.btn-default {
    border-color: #3c3f56;
    color: #3c3f56;
}

.btn-default:hover {
    background-color: #3c3f56;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: 100% 85%;
    height: 50%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;    
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.info-section {
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 1627px;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 75%;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 391.5px 813.5px;
    transform-origin: 391.5px 813.5px;
    caret-color: rgb(74, 74, 74);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 48px 24px;
}/*Info Section*/

.container-info {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: auto;
    left: 0px;
    max-width: 75%;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top: -50px;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 367.5px 777.5px;
    transform-origin: 367.5px 777.5px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px 26.5px;    
    outline: rgb(74, 74, 74) none 0px;
    padding: 0px 15px;
}/*container in info section*/

.column-text-left{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 305px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 75%px;
    column-rule-color: rgb(74, 74, 74);
    align-self: center;
    perspective-origin: 152.5px 152.5px;
    transform-origin: 152.5px 152.5px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 12px;
}/*put text left side of column*/

.column-text-center{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 304px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 424px;
    column-rule-color: rgb(74, 74, 74);
    align-self: center;
    perspective-origin: 212px 152px;
    transform-origin: 212px 152px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 12px;
}/*Put text center*/

.header-info {
    box-sizing: border-box;
    color: rgb(54, 54, 54);
    height: 33px;
    text-align: left;
    text-decoration: none solid rgb(54, 54, 54);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 281px;
    word-break: break-word;
    column-rule-color: rgb(54, 54, 54);
    perspective-origin: 140.5px 16.5px;
    transform-origin: 140.5px 16.5px;
    caret-color: rgb(54, 54, 54);
    border: 0px none rgb(54, 54, 54);
    font: normal normal 300 normal 30px / 33.75px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px 0px 24px;
    padding: 0px 0px 30px 0px;
    outline: rgb(54, 54, 54) none 0px;
}/*header in info section*/

.para_info {
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 224px;
    text-align: left;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 281px;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 140.5px 112px;
    transform-origin: 140.5px 112px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 19.2px / 28.8px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    outline: rgb(74, 74, 74) none 0px;
}/*paragraph in info section*/

.column-is-vcentered{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    display:flex;
    height: 304px;
    //min-height: auto;
    //min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    align-items: center;
    perspective-origin: 212px 152px;
    transform-origin: 212px 152px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    margin: -12px -12px 12px;
}/*Put this around image in info section*/

.info-image{
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    display: block;
    max-height: 300px;
    height: auto;
    left: 0px;
    max-width: 300px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top:-50px;
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 200px 100px;
    transform-origin: 200px 100px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
}/*Image in infosection*/

































































































    
    
    
    
    
    
    
    