
/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #3c3f56;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #3c3f56;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #3c3f56;
    background-color: #e6ecca;
    border-color: #3c3f56;
}

.btn-default {
    border-color: #3c3f56;
    color: #3c3f56;
}

.btn-default:hover {
    background-color: #3c3f56;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: 100% 85%;
    height: 50%;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;    
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.icon{
    box-sizing: border-box;
    color: rgb(11, 14, 22);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(11, 14, 22);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 24px;
    column-rule-color: rgb(11, 14, 22);
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
    caret-color: rgb(11, 14, 22);
    border: 0px none rgb(11, 14, 22);
    font: normal normal normal normal 21px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(11, 14, 22) none 0px;
    padding: 0px 4px 0px 0px;
}

/*section home page buttons
.buttons-section {
    box-sizing: border-box;
    height: auto;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 150px 224.5px;
    transform-origin: 150px 224.5px;
    caret-color: rgb(74, 74, 74);
    background-color: (26, 26, 26, 0.05)
    background: rgba(26, 26, 26, 0.05) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 48px 24px;
}

/*
.info-section {
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: auto;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
//    width: 75%;
   // max-width 1800px;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 391.5px 813.5px;
    transform-origin: 391.5px 813.5px;
    caret-color: rgb(74, 74, 74);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    margin:0 auto;
    padding: 40px 24px;
}/*Info Section*/

.container-info {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: auto;
    left: 0px;
//    max-width: 1000px;
    min-width: 600px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top: 0px;
    //width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 367.5px 777.5px;
    transform-origin: 367.5px 777.5px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px 150px 0px 150px;    
    outline: rgb(74, 74, 74) none 0px;
    padding: 50px 15px 0px 15px;
}/*container in info section*/

.column-text-left{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 305px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 75%px;
    column-rule-color: rgb(74, 74, 74);
    align-self: center;
    perspective-origin: 152.5px 152.5px;
    transform-origin: 152.5px 152.5px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 12px;
}/*put text left side of column*/

.column-text-center{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 304px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 424px;
    column-rule-color: rgb(74, 74, 74);
    align-self: center;
    perspective-origin: 212px 152px;
    transform-origin: 212px 152px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 12px;
}/*Put text center*/

.header-info {
    box-sizing: border-box;
    color: rgb(54, 54, 54);
    height: 33px;
    text-align: left;
    text-decoration: none solid rgb(54, 54, 54);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    word-break: break-word;
    column-rule-color: rgb(54, 54, 54);
    perspective-origin: 140.5px 16.5px;
    transform-origin: 140.5px 16.5px;
    caret-color: rgb(54, 54, 54);
    border: 0px none rgb(54, 54, 54);
    font: normal normal 300 normal 30px / 33.75px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px 0px 24px;
    padding: 0px 0px 30px 0px;
    outline: rgb(54, 54, 54) none 0px;
}/*header in info section*/

/*Header in the home page bottom button section*/
.header-info-bottom{
    box-sizing: border-box;
    color: rgb(54, 54, 54);
    height: 99px;
    text-align: center;
    text-decoration: none solid rgb(54, 54, 54);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    word-break: break-word;
    column-rule-color: rgb(54, 54, 54);
    perspective-origin: 111px 49.5px;
    transform-origin: 111px 49.5px;
    caret-color: rgb(54, 54, 54);
    border: 0px none rgb(54, 54, 54);
    font: normal normal 300 normal 30px / 33.75px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(54, 54, 54) none 0px;
}

.para_info {
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 224px;
    text-align: left;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 281px;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 140.5px 112px;
    transform-origin: 140.5px 112px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 19.2px / 28.8px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    outline: rgb(74, 74, 74) none 0px;
}/*paragraph in info section*/

.column-is-vcentered{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    display:flex;
    height: 304px;
    //min-height: auto;
    //min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    align-items: center;
    perspective-origin: 212px 152px;
    transform-origin: 212px 152px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    margin: -12px -12px 12px;
}/*Put this around image in info section*/

.column-bottom-buttons{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 500PX;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 123px 127px;
    transform-origin: 123px 127px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(74, 74, 74) none 0px;
}/*Bottom column to hold buttons on home page*/

.column{
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 123px 12px;
    transform-origin: 123px 12px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    flex: 1 1 0px;
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 0px;
}/*Seperate columns in bottom button section*/

.info-image{
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    display: block;
    max-height: 250px;
    height: auto;
    left: 0px;
    max-width: 250px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top:-50px;
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 200px 100px;
    transform-origin: 200px 100px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
}/*Image in infosection*/

.button-bottom {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    cursor: pointer;
    display: inline-flex;
    height: 54.8281px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: top;
    white-space: nowrap;
    width: 200px;
    column-rule-color: rgb(74, 74, 74);
    align-items: center;
    justify-content: center;
    perspective-origin: 100px 27.4062px;
    transform-origin: 100px 27.4062px;
    user-select: none;
    caret-color: rgb(74, 74, 74);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 24px / 36px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    margin: 0px 4px;
    outline: rgb(74, 74, 74) none 0px;
    padding: 20px 18px;
    transition: none 0.086s ease-out 0s;
}

.container-buttons{
    bottom: 0px;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    height: 300px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(74, 74, 74);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top: 0px;
    width: auto;
    column-rule-color: rgb(74, 74, 74);
    perspective-origin: 126px 182.5px;
    transform-origin: 126px 182.5px;
    caret-color: rgb(74, 74, 74);
    border: 0px none rgb(74, 74, 74);
    font: normal normal normal normal 16px / 24px "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    outline: rgb(74, 74, 74) none 0px;
    padding: 30px;
}/*#Wrap around buttons at the bottom of the homeage*/












































































































    
    
    
    
    
    
    
    