<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>CryptoCurrency Trend Tracker</title>
        
        
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
            
            <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
                
                
    </head>
    
    <body>
        
        <div class="container">
            <div class="header">
                <h3 class="text-muted">CryptoCurrency Trend Tracker</h3>
            </div>
            
            <div class="jumbotron">
                <h1>CyrptoCurrency Trends</h1>
            </div>
            
            <div class="row marketing">
                <div>
                    <a href="https://plot.ly/~lbrack1/6/?share_key=TnGLjBTmNUYx0GVBmEt5n7" target="_blank" title="Bitcoin Mentions" style="display: block; text-align: center;"><img src="https://plot.ly/~lbrack1/6.png?share_key=TnGLjBTmNUYx0GVBmEt5n7" alt="Bitcoin Mentions" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                    <script data-plotly="lbrack1:6" sharekey-plotly="TnGLjBTmNUYx0GVBmEt5n7" src="https://plot.ly/embed.js" async></script>
                </div>
            
            <footer class="footer">
                <p>&copy; Company 2015</p>
            </footer>
            
        </div>
    </body>
    
</html>
